.footer{
   background-color: $Soft-Blue; 
   padding: 3rem 1rem;
    text-align: center;
    color: $white-color;
    &__title{
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 1rem;
    }
    &__subtitle{
        font-size: 1.8rem;
    }
    &__menu{
        padding: 2rem 0;
            background-color:$Very-Dark-Blue;
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    &__img{
        filter: invert(1) brightness(100);
    }
}